#input {
    background-color: whitesmoke;
    font-family: monospace;
    text-align: center;
    margin: 20px;
}


@media only screen and(max-width: 414px),(max-height : 736px){
    #result {
        width: fit-content;
    }

    .content{
        width: 100%;
        font-size: 0.2rem;
        border:2px;
    }


    table  th{
        display: none;
    }


    tbody tr td {
        display: block;
        padding-left: 100px;
        background-color: white;
        width: 100px;
    }
    

    td{
        text-align: right;
    }

    td::before {
        content:attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 20px;
        
    }


    h1{
        display: none;
    }

   

}


@media only screen and(max-width: 375px),(max-height : 667px){
    #result {
        width: fit-content;
    }

    .content{
        width: 100%;
        font-size: 0.2rem;
        border:2px;
    }


    table  th{
        display: none;
    }


    tbody tr td {
        display: block;
        padding-left: 100px;
        background-color: white;
        width: 100px;
    }
    

    td{
        text-align: right;
    }

    td::before {
        content:attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 20px;
        
    }


    h1{
        display: none;
    }

   

}




@media only screen and (max-width: 320px),( max-height: 568px){
    

    #result {
        width: fit-content;
    }

    .content{
        width: 100%;
        font-size: 0.2rem;
        border:2px;
    }


    table  th{
        display: none;
    }


    tbody tr td {
        display: block;
        padding-left: 100px;
        background-color: white;
        width: 100px;
    }
    

    td{
        text-align: right;
    }

    td::before {
        content:attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 20px;
        
    }


    h1{
        display: none;
    }

   

}

input {
    font-family: cursive;
    font-size: 20px;
}

button {
    font-family: monospace;
    font-size: 20px;
}

#result{
display: flex;
justify-self: center;
padding-top:20px;
margin-top: 20px;
border:   2px;
box-shadow: 20px;
background-color: whitesmoke;
font-family: monospace;
}

.content{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
}

h1 {
    margin: 0px;
}

thead tr {
    background-color: #009879;
    
}

thead th {
    padding: 10px 20px;
}

tbody tr{
    border-bottom: 1px solid grey;
}


tbody td {
  padding: 10px 20px;
}

